body {
    background-color: whitesmoke;
}

nav ul li {
    display: inline;
    margin-right: 6px;
    margin-left: 6px;
}

.info--basic {
    font-weight: 500;
    color: black;
    padding: 10px;
    float: right;
}

